* {
    margin: 0;
    padding: 0;
}
h1 {
    font-style: ;
color: violet;
}
body {
    text-align: center;
    background-color: aqua;
}
.container {
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
}
.game {
height: 60vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}
.box1 {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 10vmin;
    background-color: antiquewhite;
}
#reset_btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: burlywood;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    color: brown;
}
#new_game {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: burlywood;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    color: brown;
}

#win {
    color: blue;
    font-size: 5vmin;
}
.msg_con {
height: 25vmin;
}

.hide {
    display: none;
}